.gitignore                      export-ignore
.gitattributes                  export-ignore
nextcloudClient/*_test.go       export-ignore
nextcloudClient/test_utils.go   export-ignore
Makefile                        export-ignore